<div class="row featurette col-12 mx-auto align-items-center">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll
                blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
        </p>
    </div>
    <div class="col-md-5 order-md-1 no-gap">
    <img src="/website/assets/img/1.jpg" 
         class="rounded-circle bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" 
         alt="Imagen destacada" 
         width="250" height="250">
</div>
</div>