<div class="row featurette col-12 align-items-center">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">El mejor servicio de armas. <span class="text-body-secondary">El favorito de Donal Trump.</span></h2>
        <p class="lead">Somos la empresa número 1 en exportación y fabricación de armas en toda América.
        </p>
    </div>
    <div class="col-md-5 order-md-1 no-gap">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Donald_Trump_official_portrait.jpg/960px-Donald_Trump_official_portrait.jpg" 
         class="rounded-circle bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid m-4" 
         alt="Imagen destacada" 
         width="250" height="250">
</div>
</div>