<!-- your html code here -->
<div class="row featurette col-12 mx-auto align-items-center">
    <h2>Portafolio</h2>
    <p>Adquiere tus armas de forma segura bajo los altos estandares de seguridad que realiza nuestra empresa con el fin de brindar el mejor servicio y soluciones a tu alcance</p>

  <div class="col-4">
    <div class="card border border-3 border-dark">
      <img
        src="https://plus.unsplash.com/premium_photo-1661901234139-d833950e05e0?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=873"
        class="card-img-top img-fluid" alt="gun">
      <div class="card-body">
        <h5 class="card-title text-warning"><strong>Kit completo de municiones</strong></h5>
        <p class="card-text">Protege tu seguridad y la de tu familia con un kit completo de rifle, granada, balas y
          mascara</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border border-3 border-dark">
      <img
        src="https://images.unsplash.com/photo-1610057998879-09386cfe7c3c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=870"
        class="card-img-top img-fluid" alt="rifle">
      <div class="card-body">
        <h5 class="card-title text-warning"><strong>Rifle de francotirador</strong></h5>
        <p class="card-text">Adquiere el arma mas profesional del mercado, no dejes que tus objetivos se escapen y actua
          rapido</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border border-3 border-dark">
      <img
        src="https://images.unsplash.com/photo-1595590424283-b8f17842773f?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=870"
        class="card-img-top img-fluid" alt="pistola">
      <div class="card-body">
        <h5 class="card-title text-warning"><strong>Pistola de bolsillo</strong></h5>
        <p class="card-text">Mantente preparado en cualquier momento, adquiere un arma facil de usar y con gran alcance
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>