<div class="row featurette col-12 mx-auto align-items-center">
    <div class="col-md-7 order-md-2 no-gap">
        <h2 class="featurette-heading fw-normal lh-1">Los primeros en venderle a Stalone. <span class="text-body-secondary">Aprobado por David Morell</span></h2>
        <p class="lead">Gracias a nosotros se han hecho todas las películas de acción del siglo XX.</p>
    </div>
   <div class="col-md-5 order-md-1 no-gap">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/John_Rambo.jpg" 
         class="rounded-circle bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid m-4" 
         alt="Imagen destacada" 
         width="250" height="250">
</div>

</div>